.contactBox {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 320px;
  height: 80px;
  padding: 0 8px;
  border: 2px solid black;
  border-radius: 6px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  width: 80px;
  height: 32px;
  border: 1px solid rgb(139, 134, 134);
  border-radius: 4px;
}

.button:hover {
  box-shadow: 1px 1px 1px #2b2929;
}

button:active {
  color: red;
}
